@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Sarabun:wght@100;400&display=swap');

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: clip;
    background-color: #10141f;
    color: white;
    font-family: 'Sarabun', 'sans-serif';
}

:root {
    --darkglass: rgba(0, 0, 0, 0.3);
    --lightglass: rgba(255, 255, 255, 0.3);
    --corner-rad: 20px;
    --head-font-size: clamp(30px, 30px + 0.5vw, 40px);
    --body-font-size: clamp(20px, 20px + 0.5vw, 40px);
    --head-font: "Orbitron", "sans-serif";
    --body-font: 'Sarabun', 'sans-serif';
}

.mobile {
    display: none;
}

.newcirc {
    display: none;
}

.videobox {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

@media screen and (max-aspect-ratio: 16/9) {
    #myVideo{
        height: 100vh;
        z-index: -1;
    }  
}

@media screen and (min-aspect-ratio: 16/9) {
    #myVideo{
        width: 100vw;
        z-index: -1;
    }  
}

.showh1 {
    animation: show .5s forwards;
}

.showp {
    animation: show .5s .3s forwards;
}

.compactheader {
    --hfont-size: clamp(12px, 0.8vw, 20px);
    --hlogo-size: 7vw;
    --hbkg: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 37%, rgba(0, 0, 0, 1) 100%);
}

.fullheader {
    --hfont-size: clamp(15px, 1vw, 23px);
    --hlogo-size: 10vw;
    --hbkg: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.header {
    position: fixed;
    display: grid;
    width: 100vw;
    grid-template-columns: 20vw 10vw 70vw;
    align-items: center;
    transition: all ease-in-out 0.2s;
    background: var(--hbkg);
    z-index: 1000;
}

.headerlogo {
    grid-column: 1;
    place-self: center;
    transition: all ease-in-out 0.2s;
    width: var(--hlogo-size);
}

.header ul {
    grid-column: 3;
    place-self: center end;
    font-family: var(--head-font);
    list-style: none;
    z-index: 2;
}

.header ul li {
    transition: all ease-in-out 0.2s;
    margin-top: calc(1vh + 10px);
    font-size: var(--hfont-size);
    float: left;
    margin-right: 4vw;
}

.header ul li a {
    text-decoration: none;
    color: #dddddd;
    font-weight: 100;
}

.header ul li a:hover {
    color: white;
    transition: ease-in-out .2s .1s;
}

.mnuact {
    color: #e9e9e9;
}

.mnuact::after,
.header ul li a::after {
    content: '';
    display: block;
    width: 0;
    margin-top: -calc(1.4rem - 2rem);
    height: 2px;
    background: white;
    transition: cubic-bezier(.65, .05, .36, 1) .3s;
}

.mnuact::after {
    height: 1px !important;
}

.mnuact::after,
.header ul li a:hover::after {
    width: 100% !important;
    transition: ease-in-out .3s;
}

.contentbox {
    padding-top: 0vh;
    padding-bottom: 0vh;
    margin-top: 0vh;
    margin-bottom: 0vh;
    width: 100vw;
    overflow-x: clip;
}

.full {
    height: 100vh;
}

.horiz {
    height: 100vh;
    position: relative;
    left: 50%;
    overflow-y: none;
    overflow-x: scroll;
    /* scroll-snap-type: x mandatory; */
    width: 50vw !important;
}

.helement {
    position: absolute;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: grid;
    align-content: center;
    justify-content: center;
}

.properties {
    /* position: absolute; */
    /* margin-top: 10vh; */
    margin-left: 0vw;
    font-size: 20px;
    /* background-color: green; */
}

.attributes {
    /* position: relative; */
    list-style-type: none;
    margin-top: 3%;
    /* margin-left: 8vw; */
    /* background-color: yellow; */
    padding: 0 0 0 0;
}

.attributes li {
    opacity: 0;
    padding-top: 6%;
    font-size: 17px;
    padding-bottom: 6%;
    border-bottom: 1px solid white;
    width: 30vw;
}

.attributes li:nth-child(1) {
    animation: left 1s forwards;
    animation-delay: 1.5s;
}

.attributes li:nth-child(2) {
    animation: left 1s forwards;
    animation-delay: 1.8s;
}

.attributes li:nth-child(3) {
    animation: left 1s forwards;
    animation-delay: 2.1s;
}

.attributes li:nth-child(4) {
    animation: left 1s forwards;
    animation-delay: 2.4s;
}

.attributes li:nth-child(5) {
    animation: left 1s forwards;
    animation-delay: 2.7s;
}

@keyframes left {
    0% {
        opacity: 0;
        padding-left: 2vw;
    }
    100% {
        padding-left: 0;
        opacity: 1;
    }
}

.attributes li span {
    float: right;
}

.attributes li a {
    float: right;
    opacity: .4;
    margin-left: .5vw;
}



.helement:nth-child(1) {
    margin-left: 0;
}

.helement:nth-child(2) {
    margin-left: 50vw;
}

.helement:nth-child(3) {
    margin-left: 100vw;
}

.helement:nth-child(4) {
    margin-left: 150vw;
}

.helement:nth-child(5) {
    margin-left: 200vw;
}

h1 {
    font-family: var(--head-font);
}

p {
    font-family: var(--body-font);
}

html {
    overflow-y: scroll;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
}

#ic0 {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    color: white;
    word-spacing: 10px;
}

#ic0 p {
    position: absolute;
    margin-left: 50vw;
    margin-right: 6vw;
    margin-top: 10vh;
    font-size: var(--body-font-size);
}

#ic0 h1 {
    margin-top: -1vh;
    padding-top: 0vh;
    margin-left: 50vw;
    font-size: var(--head-font-size);
    position: absolute;
    font-weight: 500;
    /* opacity: 100; */
}

#ic1 {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    margin-top: 0;
    padding-top: 0;
    background: linear-gradient( rgba(1, 0, 0, 0.5) 0%, rgba(1, 0, 0, 0.5) 100%), url(../resources/images/cancun.jpg);
    background-position: center;
    background-size: cover;
}

#ic1 h1 {
    margin-top: 0;
    padding-top: 40vh;
    padding-left: 6vw;
    font-size: clamp(12px, 3vw, 40px);
}

#ic1 p {
    font-size: clamp(10px, 2vw, 20px);
    padding-left: 6vw;
    width: 30vw;
    color: white;
    text-shadow: black 0px 0px 8px;
}

#ic2 {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    margin-top: 0;
    padding-top: 0;
    background-image: url(../resources/images/rock.jpg);
    background-position: center;
    background-size: cover;
}

#ic2 h1 {
    margin-top: 0;
    padding-top: 40vh;
    padding-left: 6vw;
    font-size: clamp(12px, 3vw, 40px);
}

#ic2 p {
    font-size: clamp(10px, 2vw, 20px);
    padding-left: 6vw;
    width: 30vw;
    color: white;
    text-shadow: black 0px 0px 8px;
}

.pageination {
    /* margin-left: 95vw;
    margin-top: -95vh; */
    top: 15vh;
    left: 95vw;
    position: fixed;
}

.invis {
    opacity: 0;
    transition: 100ms all ease-in-out;
}

.vis {
    opacity: 1;
    transition: 100ms all ease-in-out;
}

.vrt {
    border-left: 3px solid #2301a9;
    height: 50vh;
}

.indicator {
    margin-top: 14vh;
    color: white;
    display: grid;
    grid-template-columns: 5vw 1vw 15px;
    width: calc(5vw + 15px);
    height: 15px;
    margin-left: calc(-6vw + 2px);
    place-content: center;
    transition: all ease-in-out 250ms;
}

.active .dot {
    background-color: #2301a9;
    transition: 100ms all ease-in-out;
}

.active span {
    opacity: 1 !important;
    transition: 100ms all ease-in-out;
}

.indicator span {
    grid-column: 1;
    align-self: center;
    justify-self: end;
    opacity: 0;
}

.dot {
    grid-column: 3;
    top: 0;
    display: relative;
    height: 15px;
    width: 15px;
    background-color: lightblue;
    border-radius: 50%;
    transition: 100ms all ease-in-out;
}

.extra {
    height: 100%;
}

.full {
    height: 100vh;
}

#mp0 {
    height: 80vh;
    padding-top: 20vh;
    display: flex;
}

@keyframes show {
    0% {
        opacity: 0;
        top: 45%;
    }
    100% {
        top: 40%;
        opacity: 1;
    }
}

.longdiv img {
    width: 100vw;
    height: 250vh;
}

.secondbkg img {
    width: 100vw;
    height: 300vh;
}

.rock {
    position: absolute;
    z-index: 1000;
    margin-top: -90vh;
}

.scaletwo {
    transform: scale(2);
}

.main section {
    margin: 0;
    height: 100vh;
}

.main section:nth-child(1) {
    background-color: #3e5050;
}

.main section:nth-child(2) {
    background-color: #495f5f;
}

.main section:nth-child(3) {
    background-color: #546d6d;
}

.main section:nth-child(4) {
    background-color: #5f7c7c;
}

.main section:nth-child(5) {
    background-color: #6b8a8a;
}

.main section h1 {
    font-size: 38px;
    color: #fff;
    margin: 0;
    padding: 50px 0 20px;
    /* text-align: center; */
}

.pagination-container {
    position: fixed;
    transform: translateY(-50%);
    top: 50%;
    right: 3vw;
}

#pagination {
    top: 50%;
    /* transform: translateY(-50%); */
    right: 0;
    list-style: none;
    border-right: 3px solid rgb(0, 0, 170);
    height: 300px;
}

#outer-circle {
    background: #385a94;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: relative;
    /* 
   Child elements with absolute positioning will be 
   positioned relative to this div 
  */
}

#liic0 {
    margin-top: 0vh !important;
}

#liic1 {
    margin-top: 150px;
}

#liic2 {
    margin-top: 300px;
}

#pagination li {
    position: absolute;
    margin-left: -2px;
    background: blue;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    transition: all 0.2s ease;
}

#pagination li:hover {
    transform: scale(1.5);
}

#pagination li:hover p {
    opacity: 100;
}

#pagination li p {
    opacity: 0;
}

#pagination a {
    position: absolute;
    text-decoration: none;
    left: 0;
    top: 0;
    color: inherit;
    width: 100%;
    height: 100%;
}

body.page-1 #pagination li:nth-of-type(1),
body.page-2 #pagination li:nth-of-type(2),
body.page-3 #pagination li:nth-of-type(3)
/* body.page-4 #pagination li:nth-of-type(4),
body.page-5 #pagination li:nth-of-type(5)*/

.btn {
    border: 1.5px solid #fff;
    border-radius: 0.75rem;
    padding: 0.75rem 1.25rem;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: #000;
    background: #fff;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.parallax__group {
    /* position: relative; */
    height: 100vh;
    width: 100vw;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.stars {
    background: url('../resources/images/stars.png') no-repeat center;
    background-size: cover;
    transform: translateZ(-525px) scale(2.5);
    z-index: 2;
}

.mars {
    background: url('../resources/images/mars.png') no-repeat center;
    height: 40%;
    width: 100%;
    top: 90vh;
    background-size: cover;
    transform: translateZ(-251px) scale(1.833333333);
    z-index: 4;
}

.parallaxtext {
    background: linear-gradient( rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 80%, rgba(1, 0, 0, 1) 100%);
    background-size: cover;
    transform: translateZ(0) scale(1);
    z-index: 7;
}

.parallaxtext h1 {
    text-align: center;
}

.parallaxtext p {
    font-size: 1.5vw;
    font-family: var(--body-font);
    position: absolute;
    left: 0rem;
    margin-top: 1vh;
}

.abttext {
    position: absolute;
    left: 25vw;
    top: 20vh;
    /* transform: translate(-50%, -50%); */
    width: 50vw;
    height: 25rem;
}

.card0 {
    height: 60vh;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid;
    width: 20vw;
    margin-left: 10vw;
    transition: all ease-in-out 200ms;
    box-sizing: border-box;
}

#mcard0 {
    border-image: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 60%, rgba(0, 212, 255, 1) 100%) 10;
    background-color: rgb(0, 0, 10);
    background-position: top;
    background-size: 180%;
}

#mcard1 {
    border-image: linear-gradient(90deg, rgba(36, 0, 0, 1) 0%, rgba(28, 22, 22, 1) 60%, rgba(255, 0, 69, 1) 100%) 7;
    background-color: rgb(10, 0, 0);
}

#mcard2 {
    border-image: linear-gradient(45deg, rgba(13, 36, 0, 1) 0%, rgba(22, 28, 22, 1) 60%, rgba(0, 255, 68, 1) 100%)7;
    background-color: rgb(0, 10, 0);
}

.card0:hover {
    border: 10px solid;
    transition: all ease-in-out 200ms;
}

#mcard0:hover {
    background-color: rgb(0, 0, 45);
    background-size: 180%;
    background-position: center;
}

#mcard1:hover {
    background-color: rgb(45, 0, 0);
}

#mcard2:hover {
    background-color: rgb(0, 45, 0);
}

.card0 h1 {
    text-align: center;
    padding-top: 40%;
    margin-top: -55vh;
    font-size: 5vh;
    z-index: 3;
    transition: all ease-in-out 200ms;
}

.card0:hover h1 {
    margin-top: -105vh;
    transition: all ease-in-out 200ms;
}

.card0 .cardhtxt {
    position: relative;
    text-align: center;
    padding-left: 1vw;
    font-size: 3vh;
    padding-right: 1vw;
    z-index: 3;
    transition: all ease-in-out 250ms;
}

.card0:hover .cardhtxt {
    margin-top: -3vh;
    transition: all ease-in-out 250ms;
}

.card0 .cardrocktxt {
    position: relative;
    text-align: center;
    padding-left: 1vw;
    font-size: 3vh;
    padding-right: 1vw;
    z-index: 3;
    margin-top: 25vh;
    transition: all ease-in-out 250ms;
    font-weight: bold;
}

.card0:hover .cardrocktxt {
    margin-top: 10vh;
}

.card0 .cardcost {
    position: relative;
    text-align: center;
    padding-left: 1vw;
    font-size: 3vh;
    padding-right: 1vw;
    z-index: 3;
    transition: all ease-in-out 250ms;
}

.card0 img {
    position: relative;
    margin-top: 20vh;
    height: 40vh;
    margin-left: -3vh;
    z-index: 0;
    opacity: 0.3;
    transition: all ease-in-out 200ms;
}

.card0:hover img {
    margin-top: 5vh;
    height: 90vh;
    opacity: 1;
    margin-left: 32vh;
    transition: all ease-in-out 200ms;
}

#fname {
    width: 180%;
    height: 4vh;
    background: transparent;
    border-top: #000;
    border-left: #000;
    border-right: #000;
    color: white;
    font-size: 20px;
}

.upper {
    float: left;
    margin-bottom: 3vh;
}

#ac2 {
    display: grid;
    grid-template-columns: 45vw 45vw 10vw;
    flex-direction: row;
    justify-items: center;
    position: absolute;
    right: 0;
    height: 100vh;
    top: 110vh;
}

.amenPara {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20vh; */
}

.amenPara p {
    font-size: 1.4vw;
    width: 35vw;
}

.boxes {
    margin-top: 0vh;
    /* width: 15vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

#water {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: none;
    /* border-bottom: 2px solid white; */
    transition: 50ms all ease-in-out;
}

#water h2:hover{
    opacity: .8;
}

#food h2:hover{
    opacity: .8;
}

#plane h2:hover{
    opacity: .8;
}
.overengine{
    margin-top: 5vh;
}

.leftright h2{
    display: grid;
    justify-content: center;
}

.leftright p{
    width: 100%;
    line-height: 300%;
    font-size: 20px;
}

.leftright{
    width: 50%;
    float: left;
}

.engineOver{
    padding-right: 2%;
    border-right: 1px solid white;
}

.engines ul{
    list-style-type: none;
}

.engines ul li{
    width: 80%;
    border-bottom: 1px solid rgba(119, 118, 118, 0.603);
    padding-top: 6%;
    padding-bottom: 6%;
    font-size: 20px;
}

.engines li span{
    float: right;
}

.secondinfo p{
    width: 80%;
    line-height: 300%;
    font-size: 20px;
}

.thorsbs{
    float: left;
}

.thorinfo{
    border-left: 1px solid white;
    margin-left: 20%;
    padding-left: 20%;
}

.thoroverview p{
    width: 80%;
    font-size: 20px;
    line-height: 300%;
}


#food {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: none;
    /* border-bottom: 2px solid white; */
    transition: 50ms all ease-in-out;
}

#plane {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: none;
    /* border-bottom: 2px solid white; */
    transition: 50ms all ease-in-out;
}

.undLineActive {
    border-bottom: 2px solid white !important;
    transition: 50ms all ease-in-out;
}

#demo-canvas {
    top: 0;
    position: fixed;
}

#pc1 {
    background-image: url(../resources/images/spacex-launch-unsplash.jpg);
    background-position: bottom;
    background-size: cover;
    display: grid;
    grid-template-columns: 50vw 50vw;
    height: 86vh;
    padding-top: 12vh;
}

.guestin {
    grid-column: 1;
    grid-row: 1;
    height: 86vh;
    z-index: 100;
    align-self: center;
    justify-self: center;
    background-size: cover;
    background-position: bottom center;
}

.guestin h1 {
    text-align: center;
}

.signin {
    grid-column: 2;
    grid-row: 1;
    height: 86vh;
    z-index: 100;
    align-self: center;
    justify-self: center;
    background-size: cover;
    background-position: bottom center;
}

.signin h1 {
    text-align: center;
}

.win-grid {
    border: 1px solid white;
    letter-spacing: 2px;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    text-align: center;
    grid-gap: 1rem;
    padding: 5rem;
}

.win-btn {
    padding: 2rem;
    text-align: center;
    border: none;
    border-radius: 0px;
    /* background: black; */
    color: white;
    border: 1px solid transparent;
    z-index: 4;
}

#signin {
    background-color: var(--darkglass);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 30vw;
    z-index: 100;
    padding-bottom: 1rem;
    margin-top: 5vh;
    border-radius: var(--corner-rad);
    height: 60vh;
    max-height: 80vh;
    transition: all ease-in-out 200ms;
}

#signin:focus-within,
#signin:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 200ms;
}

#signin form {
    width: 80%;
    z-index: 100;
    padding-bottom: 3rem;
}

#signin .logo {
    z-index: 100;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

#signin .logo img {
    width: 300px;
}

#signin .field {
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
}

#signin label {
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
}

.text-input {
    margin-bottom: 1.3rem;
    width: 80%;
    border-radius: 2px;
    background: rgba(28, 28, 28, 0.8);
    border: 1px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
    font-size: 2vh;
}

.text-input:focus {
    /* outline: none; */
    outline: 1px solid #adb1b2;
}

#signin .text-input {
    font-family: var(--body-font);

    margin-bottom: 1.3rem;
    width: 80%;
    border-radius: 2px;
    background: #181818;
    border: 1px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}

#signin .primary-btn {
    width: 100%;
    font-size: 2vh;
}

#signin .secondary-btn,
.or,
.links {
    width: 60%;
}

.large-header {
    position: absolute;
    margin-top: -12vh;
    width: 100%;
    /* background: radial-gradient(circle, rgba(0,137,168,1) 0%, rgba(0,38,46,1) 100%); */
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 0;
}

#signin .links a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

#signin .or {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
}

#signin .or .bar {
    flex: auto;
    border: none;
    height: 1px;
    background: #ccc;
}

#signin .or span {
    color: #ccc;
    padding: 0 0.8rem;
}

#main-footer {
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 0vh;
}

#main-footer a {
    color: #f96816;
    text-decoration: underline;
}

.button-main {
    font-family: var(--body-font);
    outline: 2px solid white;
    background: rgb(61, 0, 255);
    background: linear-gradient(125deg, rgba(0, 22, 255, 0) 0%, rgba(0, 22, 255, .5) 50%, rgb(166, 0, 159) 100%);
    border: 0px;
    background-size: 200%;
    background-position: left;
    transition: ease-in-out 0.5s;
    color: white;
    text-align: center;
    font-weight: 400;
    align-self: center;
    font-size: 2vh;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 30%;
    padding-right: 30%;
    border-radius: 40px;
    margin-top: 1.5vh;
    /* max-width: 10vw; */
    z-index: 200;
    text-decoration: none;
}

.button-main:hover,
.button-main:focus {
    transition: ease-in-out 0.5s;
    background-position: right;
    cursor: pointer;
}

.retuser {
    height: 10vh;
    font-size: 3vh;
    padding-right: 15%;
    padding-left: 15%;
}

#accreate {
    margin-bottom: 10vh !important;
}

#guest {
    margin-top: 5vh;
}

#register {
    z-index: 100;
    background-color: rgba(0, 0, 0, 1);
    display: none;
    grid-template-rows: 0.5fr 3fr;
    position: absolute;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 60vw;
    z-index: 100;
    padding-bottom: 1rem;
    margin-top: 5vh;
    border-radius: var(--corner-rad);
    height: 60vh;
    max-height: 80vh;
    transition: all ease-in-out 200ms;
    margin-left: 20vw;
}

#regfields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#regfields:nth-child(2n+1) {
    grid-column: 2;
}

#regfields .button-main {
    grid-column: 1 / span 2;
}

#register h1 {
    grid-row: 1;
    grid-column: 1 / span 2;
    text-align: center;
}

@media (min-width: 1200px) {
    #left {
        flex: 4;
    }
    #right {
        flex: 6;
    }
}

@media (max-width: 768px) {
    #right {
        display: none;
    }
    #left {
        justify-content: start;
        margin-top: 4vh;
    }
    #signin .logo {
        margin-bottom: 2vh;
    }
    #signin .text-input {
        margin-bottom: 0.7rem;
    }
    #main-footer {
        padding-top: 1rem;
    }
}

#drinks {
    /* position: absolute; */
    display: none;
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* width: 25%; */
    margin-top: 5vh;
    height: 40vh;
}

.coke {
    background: url(../resources/images/coca-cola.png) no-repeat;
    background-position: center;
    background-size: 60%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red; */
}

.sprite {
    background: url(../resources/images/sprite-logo.png) no-repeat;
    background-position: center;
    background-size: 60%;
}

.aqua {
    background: url(../resources/images/Aquafina_2016.png) no-repeat;
    background-position: center;
    background-size: 60%;
}

.orange {
    background: url(../resources/images/minmaid.png) no-repeat;
    background-position: center;
    background-size: 60%;
}

#bkvid {
    margin-top: 0vh;
    position:fixed;
}

#ya0content {
    margin-top: 15vh;
    display: grid;
    position: absolute;
    grid-template-rows: 10vh 5vh 20vh 20vh 20vh 5vh;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
}

@media screen and (max-aspect-ratio: 16/9) {
    #bkvid{
        height: 100vh;
        /* z-index: -1; */
    }  
}

@media screen and (min-aspect-ratio: 16/9) {
    #bkvid{
        width: 100vw;
        /* z-index: -1; */
    }  
}

#yacwelcome {
    grid-row: 1;
    grid-column: 2 / span 3;
    font-size: 5vh;
    align-self: center;
    justify-self: center;
    animation: 300ms ease-in-out 10ms fadein;
}

#yastatus {
    background-color: var(--darkglass);
    box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.11);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    grid-row: 3 / span 3;
    grid-column: 1 / span 2;
    width: 80%;
    height: 100%;
    border-radius: var(--corner-rad);
    padding: 0;
    font-family: var(--body-font);
    align-self: center;
    justify-self: center;
    color: rgb(255, 255, 255);
    animation: 2s ease-in-out  fadein;
    animation-iteration-count: 1;

}

#yastatus h1 {
    font-size: 4vh;
    color: rgb(255, 255, 255);
}

#yaavail {
    background-color: var(--darkglass);
    box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.11);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    grid-row: 3 / span 3;
    grid-column: 4 / span 2;
    width: 25vw;
    height: 60vh;
    padding: 0;
    border-radius: var(--corner-rad);
    align-self: center;
    justify-self: center;
    animation: 2s ease-in-out  fadein;
    animation-iteration-count: 1;
    transition: all ease-in-out 300ms;
}

/* #yaavail:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 300ms;
} */

#yaavail h1 {
    font-size: 4vh;
    padding-left: 0;
    padding-right: 0;

}

#yaslogan {
    position: absolute;
    margin-top:-33vh;
    margin-left: 80vw;
    font-size: 10vh;
    font-weight: 50;
}

#yalogout {
    width: 10vw;
    grid-column: 5;
    padding-left: 2vw;
    padding-right: 2vw;
    /* border: 2px solid white; */
    background: linear-gradient(125deg, rgba(0, 22, 255, 0) 0%, rgba(0, 22, 255, .5) 50%, rgba(255, 1, 245, 1) 100%);
    background-size: 200%;

}

#yalogout:hover {
    background-position: right;
}

#modalstart {
    background-color: #000000cc;
    position: fixed;
    float: bottom;
    bottom: 0;
    width: 100vw;
    display: inline-flex;
    align-items: center;
    /* margin-top: 100vh; */
}

#modalstart h1 {
    padding-left: 5vw;
    padding-right: 5vw;
}

#modalstart .button-main {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    align-self: center;
    margin-left: 20vw;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.flightinfo {
    display: flex;
    flex-direction: row;
    width: 25vw;
    justify-content: space-between;
}

#aflightlist hr {
    width: 20vw;
    border-top: 1px;
}

.flightdtnm {
    width: 25%;
    padding-left: 3vw;
    text-align: left;
}

.flightinfo .type {
    margin-top: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 4vh;
}

.flightinfo .date {
    padding-top: 0px;
    margin-top: 0px;
    color: #c2c2c2;
}

.flightinfo .book {
    padding-left: 3vw;
    padding-right: 3vw;
    margin-right: 3vw;
    align-self: flex-start;
    justify-self: flex-end;
}

#yastatus .flightinfo {
    width: 32vw;
}

#yastatus hr {
    width: 28vw;
    border-top: 1px;
}

#yastatus .flightdtnm {
    padding-left: 0;
}

#yastatus .type {
    width: 32vw;
    text-align: center;
}

#yastatus .date {
    width: 32vw;
    text-align: center;
}


.lbusin{
    display: grid;
    
    grid-template-columns: 1fr 1fr;
}

.sideimage{
    height: 100vh;
    /* width: 50vw; */
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* padding-left: 10vw; */
    font-size: 3vh;
    --light-darken-overlay: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    --darker-darken-overlay: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    background-color: green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: 400ms all cubic-bezier(.51,-0.01,.19,.96);
}

.sideimage:hover {
    background-size: 110%;
    transition: 300ms all cubic-bezier(.51,-0.01,.19,.96);
}

#busin {
    background-image: var(--light-darken-overlay), url(../resources/images/pexels-bruno-massao-2873486.jpg);
}

#busin:hover {
    background-image: var(--darker-darken-overlay), url(../resources/images/pexels-bruno-massao-2873486.jpg);

}

#leis{
    background-image: var(--light-darken-overlay), url(../resources/images/people-in-space.jpg);
    background-size: 130%;
    transition: 400ms all cubic-bezier(.51,-0.01,.19,.96);
}

#leis:hover {
    background-image: var(--darker-darken-overlay), url(../resources/images/people-in-space.jpg);
    background-size: 140%;
    transition: 300ms all cubic-bezier(.51,-0.01,.19,.96);
}

#leis-info{
    display: block;
}

#leis-heim{
    display: none;
}

#leis-sav {
    display: none;
}

#leis-aeth {
    display: none;
}

.sideimage h1{
    margin-top: 10vh;
}

.sideimage p{
    text-align: left;
    font-size: 2.5vh;
    height: 0vh;
    overflow: hidden;
    max-width: 75vh;
    line-height: 7vh;
    transition: all cubic-bezier(.99,.15,.73,.77) 400ms;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.sideimage:hover p {
    height: 45vh;
    transition: all ease-in-out 300ms;
}

.lbusin .content {
    align-self: center;
    justify-self: center;
}

.sideimage a{
    font-style: none;
    color: white;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 2.5vh;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

#busin a:hover{
    opacity: .8;
}

#leis a:hover{
    opacity: .8;
}

/* -------------------------------------------------------------------------- */
/*                                  BOOK PAGE                                 */
/* -------------------------------------------------------------------------- */

#bp0 {
    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
    grid-template-rows: 10vh 5vh 10vh 75vh;
    --imgsize: 9vw;
}

#flighttype {
    align-self: center;
    justify-self: center;
    text-align: center;
    grid-column: 1 / span 3;
    grid-row: 3;
    font-size: 10vh;
    margin: 0;
    /* margin: 0;
    padding-top: 9vh;
    height: 20vh */
}

.overengine{
    margin-top: 5vh;
}

.leftright h2{
    display: grid;
    justify-content: center;
}

.leftright p{
    width: 100%;
    line-height: 300%;
    font-size: 20px;
}

.leftright{
    width: 50%;
    float: left;
}

.engineOver{
    padding-right: 2%;
    border-right: 1px solid white;
}

.engines ul{
    list-style-type: none;
}

.engines ul li{
    width: 80%;
    border-bottom: 1px solid rgba(119, 118, 118, 0.603);
    padding-top: 6%;
    padding-bottom: 6%;
    font-size: 20px;
}

.engines li span{
    float: right;
}

.secondinfo p{
    width: 80%;
    line-height: 300%;
    font-size: 20px;
}

.thorsbs{
    float: left;
}

.thorinfo{
    border-left: 1px solid white;
    margin-left: 20%;
    padding-left: 20%;
}

.thoroverview p{
    width: 80%;
    font-size: 20px;
    line-height: 300%;

    grid-column: 1 / span 3;
    grid-row: 3;
    font-size: 10vh;
    margin: 0;
    /* margin: 0;
    padding-top: 9vh;
    height: 20vh */
}

.steps {
    align-self: center;
    grid-row: 4;
    grid-column: 1;
}

.bookstep {
    font-size: 8vh;
    padding-top: 0;
    padding-bottom: 2vh;
    padding-left: 4vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1vw;
    text-align: left;
    color:rgba(83, 83, 83, 0.507)

}

.activeb {
    color:rgba(255, 255, 255, 0.966);
    background-color: rgba(201, 201, 201, 0.3);
    border-radius: var(--corner-rad);
    transition: all ease-in-out 200ms;
}

#bp0 .content {
    background-color: white;
    color: #000;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    width:60vw;
    height: 65vh;
    grid-row: 4;
    grid-column: 2 / span 3;
    align-items: start;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#bp0 .content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#bp0 table {
    width: 60vw;
    border-collapse: collapse;
}

#bp0 thead {
    position: -webkit-sticky;
    position: sticky;
}

#bp0 thead th {
    font-size: 2vh;
    height: 1em;
    font-weight: bold;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 0;
}

#bp0 th {
    border-bottom: 1px solid #bebdbd;
}

#bp0 th {
    font-weight: normal;
    align-content: center;
}

#bp0 th {
    padding-top: 3vh;
    padding-bottom: 3vh;
    height: 5vh;
    vertical-align: middle;
    /* background-color: rgba(4, 255, 0, 0.3); */
    /* border: 2px solid green; */
}

#bp0 tr {
    transition: all ease-in-out 200ms;
}

#bp0 tr:hover {
    background-color: #8f8f8f;
    transition: all ease-in-out 200ms;
}

#bp0 .grimagecontainer {
    width: var(--imgsize);
}

#bp0 .grimage {
    width: var(--imgsize);
    padding: 0;
    margin: 0;
    background-image: url(/resources/images/pool-g854a75762_1280.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

#bp0 .amen {
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
    width: 20vw;
    /* background-color: rgba(0, 212, 255, .3); */
}

.inf {
    display: flex;
    flex-direction: column;
}


#confirmselect {
    display: grid;
    justify-content: center;
    align-content: center;
}

#confirmselect h1 {
    font-size: 5vh;
    text-align: center;
}

#confirmselect p {
    text-align: center;
}

.inf .button-main {
    align-self: center;
}


/* -------------------------------------------------------------------------- */
/*                                LEISURE PAGE                                */
/* -------------------------------------------------------------------------- */


.busi{
    height: 100vh;
    background:  linear-gradient( rgba(1, 0, 0, 0.5) 0%, rgba(1, 0, 0, 0.5) 100%), url(../resources/images/SunriseInSpace.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.smenu{
    
    display: grid;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 15vh;
    grid-gap: 2vw;
    grid-template-columns: calc(80vw/5) calc(80vw/5) calc(80vw/5) calc(80vw/5) calc(80vw/5);
}

.smenu h1{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    margin: 0px;
    height: 10vh;
    background-color: var(--darkglass);
   /* background:rgba(0, 0, 0, 0.71); */
    border-radius: 10px;
}

.nothing{
    background-color: transparent !important;
    
}

.smenu h1:hover{
    background-color: var(--lightglass);
    transition: all ease-in-out 150ms;
}

.split{
    display: grid;
    grid-template-columns: 37.5vw 37.5vw;
    grid-gap: 5vw;
    height: 65vh;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.extra{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--darkglass);
    border-radius: 10px;
}

.cmony{
    letter-spacing: 1vw;
    /* margin: 0; */
}

.ally{
    display: grid;
    grid-template-rows: 1fr 1fr 1.5fr;
    /* margin-bottom: 5vh; */
}

.soof{
    background: transparent !important;
}

.pwe{
    margin-left: 10%;
    line-height: 5vh;
    font-size: 1vw;
    margin-right: 10%;
}

.leisy{
    height: 100vh;
}

.leisypic{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../resources/images/SunriseInSpace.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 55vh;
}

.contenty{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 45vh;
    background-color: black;
}

.titly{
    display: grid;
    grid-template-columns: 44vw 44vw; 
    grid-column-gap: 2vw;
  }

.leet{
    display: grid;
    justify-content: center;
    align-items: center;
}

.LTitle{
    font-size: 42px;
}

.Lpara p{
    font-size: 22px;
    
}

.retry {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.picy{
    width: 100vw;
    height: 100vh;
    background-image: url(../resources/images/SunriseInSpace.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.tempy{
    text-align: center;
    padding-top: 8vh;
    padding-bottom: 0vh;
    width: 100vw;
    font-size: 7vh;
}

.oofy p{
    color: white;
    font-size: 20px;
    line-height: 5vh;
}

.splity{    
    display: grid;
    justify-content: center;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 64vh;
    grid-column-gap: 5vw;
}


.listy{
    padding-left: 0px;
    margin-top: 0px;
}

.rightyy {
    grid-row: 1;
    grid-column: 2;
}

.listy li{
    display: grid;
    justify-content: center;
    align-items: center;
    height: calc(64vh/4.2);
    width: 40vw;
    color: rgba(0,0,0,0);
    margin-bottom: 1.016vh;
    list-style: none;
   border-radius: 15px;
   background-color: var(--darkglass);
   transform: all ease-in-out 150ms;
}

.listy li h1{
    font-size: 48px;
    letter-spacing: 2px;
    margin: 0 0 0 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    transition:all ease-in-out 150ms;

}

#cmon{
    display: grid;
    justify-content: center;
    align-items: center;
}

.listy li:hover{
    background-color: var(--lightglass);
    transition: all ease-in-out 150ms;
    
}

.listy li:hover h1{
    font-size: 60px;
    transition:all ease-in-out 200ms;
}



.infos{
    border-radius: 15px;
    height: 64vh;
    background-color: var(--darkglass);
    display: grid;
    justify-content: center;
    align-items: center;
}


.infos p{
    width: 35vw;
}

.tiery{
    height: 15vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.tiersplit{
    width: 38vw;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
}

.tier1card{
    height: 64vh;
    border-radius: 15px;
    background-color: var(--darkglass);
    display: grid;
    justify-content: center;
}

.tier1card h1{
    font-size: 5vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.tier1card p {
    font-size: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.lop{
    grid-row: 1;
    display: grid;
    justify-items: center; 
}

.lop h1{
    font-size: 38px;
    display: grid;
    /* justify-content: center !important; */
    align-items: end;
    /* align-self: center !important;  */
    margin: 0px;
}

.lop p{
    margin: 0px;
}

.middy{
    display: grid;
    justify-items: center;
    overflow: scroll;
}

/* #useless h1{
    display: grid;
    align-items: center;
    justify-content: center;
} */

#useless{
    
    height: 100%;
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

/* -------------------------------------------------------------------------- */
/*                                  Business                                  */
/* -------------------------------------------------------------------------- */

.biggy{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 40vw 40vw;
    width: 98vw;
    grid-column-gap: 2vw;
    height: 100vh;
}

.bussy{
    height: 80vh;
    display: grid;
}

.leftist h1{
    font-size:  6vh;
}

.leftist p{
    font-size: 3vh;
    line-height: 5.5vh;
}

.seriously{
    margin-top: 3vh;
}

.cardy{
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    /* background-color: rgba(169,169,169, .1); */
    border-radius: var(--corner-rad);
    display: grid;
    justify-content: center;
}

.cardy h1{
    font-size: 5vh;
    margin-bottom: 0px;
}

.quoty{
    display: grid;
    justify-content: center;
    height: 10vh;
    margin-bottom: 3vh;
}

.yoyo{
    display: grid;
}


.bussy input[type=text], select, textarea {
    width: 35vw;
    padding: 12px;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1vh; 
    margin-bottom: 2vh; 
    resize: vertical;
  }

  .bussy input[type=text], select, textarea p{
    color: white;
    font-family: var(--body-font);
  }

  .bussy input[type=submit] {
    width: 10vw;
    background: linear-gradient(125deg, rgba(0, 22, 255, 1) 0%, rgba(255, 1, 245, 1) 100%);
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 40px;
    border: 0px;
    color: white;
    font-weight: 400;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 3%;
    font-family: var(--body-font);
  }
  

  input[type=submit]:hover {
    
  }

  /* -------------------------------------------------------------------------- */
  /*                                  About Us                                  */
  /* -------------------------------------------------------------------------- */

  .Tabouty{
    display: grid;
    padding-top: 10vh;
    grid-template-rows: auto 47vh;
    justify-content: center;
    /* padding-bottom: 5vh; */
    align-items: center;
    grid-gap: 2vh;
    /* grid-column-gap: 2vw; */
    /* height: 100vh; */
    width: 100vw;
}

.abinfo p{
    margin-top: 2vh;
    /* font-size: 2vh; */
    line-height: 5vh;
    max-width: 90vw;
}

.abbox{
    /* margin-top: 20vh; */
    /* height: 80vh; */
    display: flex;
    flex-direction: row;
    /* row-gap: 20vw; */
    column-gap: 10vw;
    align-items: center;
    justify-content: center;
}


.contactbox {
    /* position: relative; */
    margin-top: 0vh;
    height: 40vh;
    align-self: center;
    justify-self: center;
    /* grid-column: 2; */
    /* grid-row: 1; */
    background-color: var(--lightglass);
    border-radius: var(--corner-rad);
    /* margin-left: 10vw; */
    width: 30vw;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px var(--body-font);
}

.mapcontainer {
    /* margin-top: 3vh; */
    display: block;
    place-self: center;
    overflow-y: hidden;
    grid-row: 2;
    grid-column: 2;
    z-index: 5;
    opacity: 0.7;
}

#map {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#map::-webkit-scrollbar {
    display: none;
  }

.mapcontainer .map {
    /* position: absolute; */
    /* grid-column: 2; */
    /* grid-row: 1; */
    border: none;
    height: 40vh;
    width: 30vw;
    border-radius: var(--corner-rad);
    /* width: 100%; */
    /* float: left; */
}

.contactbox h3 {
    color: rgb(255, 255, 255);
    font-family: var(--head-font);
    padding-top: 1vh;
    font-size: 5vh;
    margin-top: 0;
    margin-left: 2vw;
    margin-bottom: 0;
}

.infobox div {
    display: flex;
    margin: 0;
    margin-left: 2vw;
    padding: 0;
    align-items: center;
}

.infobox div span {
    width: 40px;
    height: 40px;
    background: var(--light-green);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%
}

.infobox div p {
    font-size: 3vh;
    margin-left: 1em;
    padding: 0;
}

.infobox div a {
    margin-left: 1em;
    font-size: 3vh;
    color: white;
    transition: all ease-in-out 250ms;
    text-decoration: none;
}

.infobox div a:hover {
    color: rgb(146, 146, 146);
    transition: all ease-in-out 250ms;
}

.soc {
    margin-top: 10px;
    display: flex;
}

.soc li {
    list-style: none;
    margin-right: 15px;
}

.soc li a {
    color: white;
    transition: all ease-in-out 250ms;
    font-size: 4vh;
}

.soc li a:hover {
    color: rgb(146, 146, 146);
    font-size: 4vh;
    transition: all ease-in-out 250ms;
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */

.footy{
    position: relative;
    /* width: 100vw; */
    z-index: 1000;
    bottom: 0;
    /* margin-top: 10vh; */
    height: 8vh;
    background-color: black;
    display: grid;
    grid-template-columns: calc(100vw/12) calc(100vw/14) calc(100vw/14) calc(100vw/14) calc(100vw/14) calc(100vw/14) calc(100vw/14) ;
    grid-template-rows: 8vh;
    justify-content: center;
    align-items: center;
}

.ifoot {
    display: grid;
    justify-content: center;
    align-items: center;
    
    grid-row: 1;
    /* background: red; */
}

.ifoot a {
    font-weight: 700;
    font-size: .6vw;
    display: grid;
    grid-row: 1;
    justify-content: center;
    font-size: auto;
    color: white;
    text-decoration: none;

    align-self: center;
}

.ifoot a:hover{
    opacity: .7;
}



/* -------------------------------------------------------------------------- */
/*                                     3D                                     */
/* -------------------------------------------------------------------------- */

#sp { 
    position: absolute;
    left:0px !important;
    top:25px;
    left:auto;
    z-index: 2;
}

#sc { 
    position: absolute;
    top:60px;
    left:0px;
    left:auto;
    z-index: 2;
}

.infopanels {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: clip; 
    scroll-snap-type: y mandatory;
    position: relative;
    margin-top: -90vh;
    background-color: var(--lightglass);
    border-radius: 0px var(--corner-rad) var(--corner-rad) 0px;
    z-index: 1000;
    height: 80vh;
    width: 20vw;
    overflow-y: scroll;
}

.divoverlay {
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divoverlay h1 {
    font-family: var(--head-font);
    font-size: 2vw;
}

@keyframes jump {
    0%, 100% {
        margin-top: 0px;
        height: 2vh;
    } 50% {
        height: calc(2vh - 5px);
        margin-top: 5px;
    }
}

.divoverlay .jumpy {
    animation: 1s infinite jump;
}

.divoverlay p {
    padding-left: 1vw;
    padding-right: 1vw;
}

.infopanels::-webkit-scrollbar {
    display: none;
}

/* -------------------------------------------------------------------------- */
/*                                    News                                    */
/* -------------------------------------------------------------------------- */
.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
  }
  
  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    width: 6px;
    background-color: #ccc;
  }
  
  .timeline-item {
    margin: 50px 0;
    position: relative;
  }
  
  .timeline-content {
    position: relative;
    margin-left: 120px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 6px;
  }
  
  .timeline h2 {
    margin-top: 0;
  }
  
  .timeline a {
    color: #000;
    text-decoration: none;
  }
  
  .timeline p {
    margin-bottom: 0;
    color:rgb(0, 0, 10);
  }
  
  .timeline b {
    margin-bottom: auto;
    color:dimgray;
    text-align: right;
    size: 2px;
    text-decoration: none;
  }
  
   .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 5px #ccc;
    display: none;
    z-index: 999;
  }
  S
  .popup h2 {
    margin-top: 0;
    color:rgb(0, 0, 10);
  }
  
  .popup p {
    margin-bottom: 0;
    color:rgb(0, 0, 10);
  }
  
  .popup-link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  } 

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }


  /* -------------------------------------------------------------------------- */
  /*                                  Missions                                  */
  /* -------------------------------------------------------------------------- */

  .both{
    display: grid;
    grid-template-columns: 20vw 80vw;
    padding-top: 10vh;
    height: 90vh;
    background-color: #181818;
  }

  .circles{
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .bb{
    height: 10vh;
    /* background: pink; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .b{
    height: calc(100vh/60);
    width: calc(100vh/60);
    background: white;
    transition: 100ms ease-in-out;
    border-radius: 100%;
    border: 1px solid magenta;
  }

  .bb p{
    font-family: var(--head-font);
    display: grid;
    justify-content: center;
    
  }

  .b:hover{
    height: calc(100vh/50);
    width: calc(100vh/50);
    transition: 100ms ease-in-out;
  }

  .infoss{
    /* background: yellow; */
    display: grid;
    justify-content: center;
    overflow-y: scroll;
    
  }

  .infoss h1{
    display: grid;
    justify-content: center;
    align-items: center;
    letter-spacing: 1vw;
    background: linear-gradient(#B19CD7,  #C0AFE2,  #CEC2EB, #DDD5F3, #EBE8FC);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .infoss p{
    /* background: radial-gradient(circle at 10% 20%, rgb(64, 84, 178) 0%, rgb(219, 2, 234) 90%); */
    background: radial-gradient(circle at 10% 20%, rgb(236, 158, 248) 0%, rgb(131, 83, 241) 90.1%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
    max-width: 60vw;
    font-size: 1.2vw;
    line-height: 6vh;
    
  }