@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Sarabun&display=swap');
html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: clip;
    background-color: black;
    color: white;
    font-family: 'Sarabun', 'sans-serif';
}

.compactheader {
    --hfont-size: 1.5vw;
    --hlogo-size: 10vw;
    position: fixed;
    display: grid;
    grid-template-columns: 20vw 20vw 60vw;
    align-items: center;
}

.fullheader {
    --hfont-size: 1vw;
    --hlogo-size: 9vw;
    position: fixed;
    display: grid;
    grid-template-columns: 20vw 20vw 60vw;
    align-items: center;
}

.header {
    top: 0;
}

.headerlogo {
    grid-column: 1;
    place-self: center;
    width: 9vw;
}

.header ul {
    grid-column: 3;
    place-self: center;
    font-family: 'Orbitron', sans-serif;
    list-style: none;
    z-index: 2;
}

.header ul li {
    margin-top: calc(1vh + 10px);
    font-size: 1vw;
    float: left;
    margin-right: 4vw;
}

.header ul li a {
    text-decoration: none;
    color: #dddddd;
    font-weight: 100;
}

.header ul li a:hover {
    color: white;
    transition: ease-in-out .2s .1s;
}

.header ul li a::after {
    content: '';
    display: block;
    width: 0;
    margin-top: -calc(1.4rem - 2rem);
    height: 2px;
    background: white;
    transition: cubic-bezier(.65, .05, .36, 1) .3s;
}

.header ul li a:hover::after {
    width: 100%;
    transition: ease-in-out .3s;
}

.videobox {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

#myVideo {
    width: 100vw;
    z-index: -1;
}

.showh1 {
    animation: show .5s forwards;
}

.showp {
    animation: show .5s .3s forwards;
}

.compactheader {
    --hfont-size: 0.8vw;
    --hlogo-size: 7vw;
    --hbkg: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 37%, rgba(0, 0, 0, 1) 100%);
    ;
}

.fullheader {
    --hfont-size: 1vw;
    --hlogo-size: 10vw;
    --hbkg: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.header {
    position: fixed;
    display: grid;
    width: 100vw;
    grid-template-columns: 20vw 20vw 60vw;
    align-items: center;
    transition: all ease-in-out 0.2s;
    background: var(--hbkg);
    z-index: 1000;
}

.headerlogo {
    grid-column: 1;
    place-self: center;
    transition: all ease-in-out 0.2s;
    width: var(--hlogo-size);
}

.header ul {
    grid-column: 3;
    place-self: center end;
    font-family: 'Orbitron', sans-serif;
    list-style: none;
    z-index: 2;
}

.header ul li {
    transition: all ease-in-out 0.2s;
    margin-top: calc(1vh + 10px);
    font-size: var(--hfont-size);
    float: left;
    margin-right: 4vw;
}

.header ul li a {
    text-decoration: none;
    color: #dddddd;
    font-weight: 100;
}

.header ul li a:hover {
    color: white;
    transition: ease-in-out .2s .1s;
}

.header ul li a::after {
    content: '';
    display: block;
    width: 0;
    margin-top: -calc(1.4rem - 2rem);
    height: 2px;
    background: white;
    transition: cubic-bezier(.65, .05, .36, 1) .3s;
}

.header ul li a:hover::after {
    width: 100%;
    transition: ease-in-out .3s;
}

.contentbox {
    padding-top: 0vh;
    padding-bottom: 0vh;
    margin-top: 0vh;
    margin-bottom: 0vh;
    width: 100vw;
    overflow-x: clip;
}

.full {
    height: 100vh;
}

.horiz {
    height: 100vh;
    position: relative;
    left: 50%;
    overflow-y: none;
    overflow-x: scroll;
    /* scroll-snap-type: x mandatory; */
    width: 50vw !important;
}

.properties {
    position: absolute;
    left: 30%;
    top: 15vh;
    font-size: 25px;
}

.attributes {
    list-style-type: none;
    margin-top: 35%;
    margin-left: 8vw;
}

.attributes li {
    opacity: 0;
    margin-top: 6%;
    font-size: 20px;
    padding-bottom: 3%;
    border-bottom: 1px solid white;
    width: 30vw;
}

.attributes li:nth-child(1) {
    animation: left 1s forwards;
    animation-delay: 1.5s;
}

.attributes li:nth-child(2) {
    animation: left 1s forwards;
    animation-delay: 1.8s;
}

.attributes li:nth-child(3) {
    animation: left 1s forwards;
    animation-delay: 2.1s;
}

.attributes li:nth-child(4) {
    animation: left 1s forwards;
    animation-delay: 2.4s;
}

.attributes li:nth-child(5) {
    animation: left 1s forwards;
    animation-delay: 2.7s;
}

@keyframes left {
    0% {
        opacity: 0;
        margin-left: 10vw;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

.attributes li span {
    float: right;
}

.attributes li a {
    float: right;
    opacity: .4;
    margin-left: .5vw;
}

.helement {
    position: absolute;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.helement:nth-child(1) {
    margin-left: 0;
}

.helement:nth-child(2) {
    margin-left: 50vw;
}

.helement:nth-child(3) {
    margin-left: 100vw;
}

.helement:nth-child(4) {
    margin-left: 150vw;
}

.helement:nth-child(5) {
    margin-left: 200vw;
}

h1 {
    font-family: 'Orbitron', sans-serif;
}

p {
    font-family: 'Sarabun', sans-serif;
}

html {
    overflow-y: scroll;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
}

#ic0 {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    color: white;
    word-spacing: 10px;
}

#ic0 p {
    position: absolute;
    margin-left: 50vw;
    margin-right: 6vw;
    margin-top: 10vh;
    font-size: 1.5vw;
}

#ic0 h1 {
    margin-top: -1vh;
    padding-top: 0vh;
    margin-left: 50vw;
    font-size: 3vw;
    position: absolute;
    font-weight: 500;
    /* opacity: 100; */
}

#ic1 {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    margin-top: 0;
    padding-top: 0;
    background-image: url(../resources/images/cancun.jpg);
    background-position: center;
    background-size: cover;
}

#ic1 h1 {
    margin-top: 0;
    padding-top: 40vh;
    padding-left: 6vw;
    font-size: 2vw;
}

#ic1 p {
    font-size: 1vw;
    padding-left: 6vw;
    width: 20vw;
    color: white;
    text-shadow: black 0px 0px 8px;
}

#ic2 {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    margin-top: 0;
    padding-top: 0;
    background-image: url(../resources/images/rock.jpg);
    background-position: center;
    background-size: cover;
}

#ic2 h1 {
    margin-top: 0;
    padding-top: 40vh;
    padding-left: 6vw;
    font-size: 2vw;
}

#ic2 p {
    font-size: 1vw;
    padding-left: 6vw;
    width: 20vw;
    color: white;
    text-shadow: black 0px 0px 8px;
}

.pageination {
    /* margin-left: 95vw;
    margin-top: -95vh; */
    top: 15vh;
    left: 95vw;
    position: fixed;
}

.invis {
    opacity: 0;
    transition: 100ms all ease-in-out;
}

.vis {
    opacity: 1;
    transition: 100ms all ease-in-out;
}

.vrt {
    border-left: 3px solid #2301a9;
    height: 50vh;
}

.indicator {
    margin-top: 14vh;
    color: white;
    display: grid;
    grid-template-columns: 5vw 1vw 15px;
    width: calc(5vw + 15px);
    height: 15px;
    margin-left: calc(-6vw + 2px);
    place-content: center;
    transition: all ease-in-out 250ms;
}

.active .dot {
    background-color: blue;
    transition: 100ms all ease-in-out;
}

.active span {
    opacity: 1 !important;
    transition: 100ms all ease-in-out;
}

.indicator span {
    grid-column: 1;
    align-self: center;
    justify-self: end;
    opacity: 0;
}

.dot {
    grid-column: 3;
    top: 0;
    display: relative;
    height: 15px;
    width: 15px;
    background-color: lightblue;
    border-radius: 50%;
    transition: 100ms all ease-in-out;
}

.extra {
    height: 100%;
}

.full {
    height: 100vh;
}

#mp0 {
    height: 80vh;
    margin-top: 20vh;
}

@keyframes show {
    0% {
        opacity: 0;
        top: 45%;
    }
    100% {
        top: 40%;
        opacity: 1;
    }
}

.longdiv img {
    width: 100vw;
    height: 250vh;
}

.secondbkg img {
    width: 100vw;
    height: 300vh;
}

.rock {
    position: absolute;
    z-index: 1000;
    margin-top: -90vh;
}

.scaletwo {
    transform: scale(2);
}

.main section {
    margin: 0;
    height: 100vh;
}

.main section:nth-child(1) {
    background-color: #3e5050;
}

.main section:nth-child(2) {
    background-color: #495f5f;
}

.main section:nth-child(3) {
    background-color: #546d6d;
}

.main section:nth-child(4) {
    background-color: #5f7c7c;
}

.main section:nth-child(5) {
    background-color: #6b8a8a;
}

.main section h1 {
    font-size: 38px;
    color: #fff;
    margin: 0;
    padding: 50px 0 20px;
    /* text-align: center; */
}

.pagination-container {
    position: fixed;
    transform: translateY(-50%);
    top: 50%;
    right: 3vw;
}

#pagination {
    top: 50%;
    /* transform: translateY(-50%); */
    right: 0;
    list-style: none;
    border-right: 3px solid rgb(0, 0, 170);
    height: 300px;
}

#outer-circle {
    background: #385a94;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: relative;
    /* 
   Child elements with absolute positioning will be 
   positioned relative to this div 
  */
}

#liic0 {
    margin-top: 0vh !important;
}

#liic1 {
    margin-top: 150px;
}

#liic2 {
    margin-top: 300px;
}

#pagination li {
    position: absolute;
    margin-left: -2px;
    background: blue;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    transition: all 0.2s ease;
}

#pagination li:hover {
    transform: scale(1.5);
}

#pagination li:hover p {
    opacity: 100;
}

#pagination li p {
    opacity: 0;
}

#pagination a {
    position: absolute;
    text-decoration: none;
    left: 0;
    top: 0;
    color: inherit;
    width: 100%;
    height: 100%;
}

body.page-1 #pagination li:nth-of-type(1),
body.page-2 #pagination li:nth-of-type(2),
body.page-3 #pagination li:nth-of-type(3)
/* body.page-4 #pagination li:nth-of-type(4),
body.page-5 #pagination li:nth-of-type(5)*/

.btn {
    border: 1.5px solid #fff;
    border-radius: 0.75rem;
    padding: 0.75rem 1.25rem;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: #000;
    background: #fff;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.parallax__group {
    position: relative;
    height: 100vh;
    width: 100vw;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sky {
    min-height: 100%;
    background-image: url('../resources/images/pexels-philippe-donn-1257860.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translateZ(-600px) scale(3);
    z-index: 1;
}

.stars {
    background: url('../resources/images/stars.png') no-repeat center;
    background-size: cover;
    transform: translateZ(-525px) scale(2.5);
    z-index: 2;
}

.water {
    background: url('../resources/images/stars.png') no-repeat center;
    background-size: cover;
    width: 100vw;
    transform: translateZ(-250px) scale(2) rotate(180deg);
    z-index: 3;
}

.mars {
    background: url('../resources/images/mars.png') no-repeat center;
    height: 40%;
    width: 100%;
    top: 90vh;
    background-size: cover;
    transform: translateZ(-251px) scale(1.833333333);
    z-index: 4;
}

.parallaxtext {
    background: linear-gradient( rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 80%, rgba(1, 0, 0, 1) 100%);
    background-size: cover;
    transform: translateZ(0) scale(1);
    z-index: 7;
}

.parallaxtext h1 {
    text-align: center;
}

.parallaxtext p {
    font-size: 1.5vw;
    font-family: 'Sarabun', sans-serif;
    position: absolute;
    left: 0rem;
    margin-top: 1vh;
}

.abttext {
    position: absolute;
    left: 25vw;
    top: 20vh;
    /* transform: translate(-50%, -50%); */
    width: 50vw;
    height: 25rem;
}

.card0 {
    height: 60vh;
    background-color: rgb(0, 0, 170);
    width: 20vw;
    margin-left: 10vw;
    border-radius: 10px;
}

.card0 h1 {
    text-align: center;
    padding-top: 5vh;
    font-size: 5vh;
}

.social-container {
    position: absolute;
    left: 2.5rem;
    bottom: 2.5rem;
}

.social-container i {
    font-size: 1.25rem;
    margin-right: 0.25rem;
}

.info-container {
    background: #000;
    transform: translateZ(0) scale(1);
    z-index: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-container img {
    width: 75%;
    margin-bottom: 2.5rem;
    filter: saturate(0.65);
}

.info-container h2,
.info-container p {
    margin-bottom: 1rem;
}

.text-container p:nth-of-type(1) {
    font-weight: 400;
    font-size: 0.75rem;
    margin: 1rem 2.5rem;
}

.text-container p:nth-of-type(2) {
    font-size: 0.6rem;
    margin-bottom: 3rem;
}

.replace {
    width: 100vw;
    height: 100vh;
}

.section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    float: right;
}

.section:nth-child(1) {
    color: #e0ffff;
}

.section .container {
    margin: 100px;
}

.section h1 {
    font-size: 3rem;
    margin: 20px;
}

.section h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.section .text-container {
    display: flex;
}

.section .text-container .text-box {
    margin: 20px;
    padding: 20px;
    background: #00c2cb;
}

.section .text-container .text-box h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.reveal {
    position: relative;
    opacity: 1;
}

.reveal.active {
    opacity: 0;
}

.active.fade-left {
    animation: fade-left .5s ease-in;
    opacity: 0;
}

@keyframes fade-right {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }
    100% {
        transform: translateX(-300px);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(300px);
        opacity: 0;
    }
}

.oof {
    position: relative;
    top: 100%;
    left: 90%;
}

.socials {
    display: flex;
    position: relative;
    left: 45vw;
}

.flex-child {
    flex: 1;
}

.sociallist {
    list-style-type: none;
    border-left: 1px solid white;
    padding-left: 1vw;
}

.sociallist li {
    margin-top: 2vh;
    /* position: relative; */
    font-size: 60px;
    padding-bottom: 1vh;
    padding-top: 1vh;
    padding-right: 0vw;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.sociallist li::after {
    content: "";
    display: block;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    margin-left: 300%;
    margin-top: -115%;
    padding-bottom: 1vh;
    padding-top: 1vh;
    padding-right: 3vw;
    padding-left: .9vw;
    width: 100%;
    height: 80px;
    transition: all ease-in-out 100ms;
}

.sociallist li:hover::after {
    margin-left: -10%;
    transition: all ease-in-out 300ms;
    /* opacity: .8; */
}

.sociallist li:nth-child(1)::after {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    /* margin-left: 100%; */
}

.sociallist li:nth-child(2)::after {
    background: linear-gradient(45deg, #66757F, #00ACEE, #36D8FF, #F5F8Fa, #FFFFFF)
}

.sociallist li:nth-child(3)::after {
    background: linear-gradient(120deg, #3B5998, #FFFFFF)
}

.sociallist li:nth-child(4)::after {
    background: linear-gradient(45deg, rgba(255, 0, 0, 1) 0%, rgba(169, 0, 255, 1) 49%, rgba(0, 255, 229, 1) 100%);
}

.sociallist li:nth-child(5)::after {
    background: linear-gradient(45deg, #0077B5, #000000, #313335, #CACCCE, #00A0DC)
}