@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Sarabun:wght@100;400&display=swap');

/* -------------------------------------------------------------------------- */
/*                               GLOBAL SETTINGS                              */
/* -------------------------------------------------------------------------- */

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: clip;
    background-color: #10141f;
    color: white;
    font-family: var(--body-font);
}

.desktop {
    display: none;
}

:root {
    --blueprple: #2301a9;
    --darkglass: rgba(0, 0, 0, 0.3);
    --lightglass: rgba(255, 255, 255, 0.3);
    --corner-rad: 20px;
    --head-font: "Orbitron", "sans-serif";
    --body-font: 'Sarabun', 'sans-serif'
}

h1 {
    font-family: var(--head-font);
}

.contentbox {
    padding-top: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

/* -------------------------------------------------------------------------- */
/*                                    MENU                                    */
/* -------------------------------------------------------------------------- */

.mobheader {
    z-index: 10;
    top: 0;
    height: 10vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    display: grid;
    position: fixed;
    align-content: center;
    justify-content: center;
    grid-template-columns: 2vw 10vw 74vw 10vw 4vw;
    background:  linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 37%, rgba(0, 0, 0, 1) 100%);
}

.headerlogo {
    max-width:8vw;
    height: 8vh;
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
}

.hamburger {
    grid-row: 1;
    grid-column: 4;
    justify-self: center;
    align-self: center;
    z-index: 1000;
    position: relative;
    display: block;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 10;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 60px;
    height: 7px;
    background-color: white;
    margin: 10px 0px;
    transition: 0.4s;
    z-index: 2;
    border-radius: 2px;
}

.hamburger.is-active:before {
    z-index: 1000;
    background-color: var(--blueprple);
    /* border-radius: 10px; */
    transform: rotate(-45deg) translate(-5px, 23px);
}

.hamburger.is-active:after {
    z-index: 1000;
    background-color: var(--blueprple);
    /* border-radius: 10px; */
    transform: rotate(45deg) translate(0px, -21px);
}

.hamburger .bar {
    width: 60px;
}

.hamburger.is-active .bar {
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0);
    transform: translateX(30px);
}

.dotmnu {
    display: none;
    z-index: 0;
    margin-left: 40vw;
    /* display: block; */
    position: fixed;
    top: 0;
    margin-top: 0px !important;
    padding-top: 0px !important;
    height: 100vh;
    background-color: var(--lightglass);
    border-radius: var(--corner-rad) 0px 0px var(--corner-rad);
    backdrop-filter: blur(5px);
    width: 60vw;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: arrive ease-in-out 200ms;

}

.newcirc .is-active-flex {
    animation: arrive ease-in-out 200ms;
}

@keyframes arrive {
    0% {
        margin-left: 100vw;
    } 100% {
        margin-left: 40vw;
    }
}

@keyframes leave {
    0% {
        margin-left: 40vw;
    } 100% {
        margin-left: 100vw;
    }
}

.is-active-flex {
    display: flex !important;
}

.is-active {
    display: block !important;
}

hr {
    background-image: linear-gradient(45deg, rgb(75, 31, 87) 0%, rgb(16, 16, 204) 100%);
    width: 40vw;
    border: 0px;
    height: 1px;
}


.dotmnu ul {
    list-style: none;
    display: flex;
    /* align-self: center; */
    justify-self: center;
    flex-direction: column;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.dotmnu ul li {
    margin-bottom: 2vh !important;
    margin-top: 2vh !important;
}

.dotmnu ul li a {
    display: block;
    color: white;
    font-family: var(--head-font);
    font-size: 5vw;
    text-decoration: none;
}

/* .dotmnu ul li:first-child {
    margin-top: 0vh !important;
} */

.dotmnu ul li:last-child {
    margin-bottom: 0vh !important;
}


/* -------------------------------------------------------------------------- */
/*                                 INDEX PAGE                                 */
/* -------------------------------------------------------------------------- */

#modalstart {
    display: none !important;
}

#ic0 #myVideo {
    display: none;
}

.contentbox{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: none; */
}

#ic0{
    background-image: url(../resources/images/pexels-pixabay-220201.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.contentbox h1{
    font-size: 6vw;
    display:grid;
    justify-content: center;
    margin-bottom: 0px;

}

.contentbox p{
    display:grid;
    justify-content: center;
    width: 80vw;
}

#ic1{
    background-image: url(../resources/images/cancun.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

#ic2{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../resources/images/rock.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* -------------------------------------------------------------------------- */
/*                                    Trips                                   */
/* -------------------------------------------------------------------------- */

.lbusin{
    /* display: grid;
    justify-content: center;
    align-items: center; */

}

#busin{
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../resources/images/pexels-bruno-massao-2873486.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.content h1{
    display: grid;
    justify-content: center;
    align-items: center;
}

#leis{
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../resources/images/people-in-space.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.content p{
    width: 80vw;
}

.sideimage a{
    font-style: none;
    color: white;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 2.8vw;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

#busin a:hover{
    opacity: .8;
}

#leis a:hover{
    opacity: .8;
}

/* -------------------------------------------------------------------------- */
/*                                   Leisure                                  */
/* -------------------------------------------------------------------------- */

.retry{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../resources/images/SunriseInSpace.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tier1card{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tier1card h1{
    display: grid;
    justify-content: center;
    font-size: 38px;
}

.middy{
    display: grid;
    justify-items: center;
    width: 80vw;
    line-height: 4vh;
}

.tiersplit{
    width: 100vw;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.tiery{
    height: 20vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.lop{
    grid-row: 1;
    display: grid;
    justify-items: center;
    
}

.lop h1{
    font-size: 38px;
    display: grid;
    margin: 0px;
}

.lop p{
    margin: 0px;
}

#useless{
    width: 100%;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

/* -------------------------------------------------------------------------- */
/*                                  Business                                  */
/* -------------------------------------------------------------------------- */

.biggy{
    display: flex;
    flex-direction: column;
    height: 200vh;
}

.bussy{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seriously{
    margin-top: 3vh;
    display: grid;
    justify-content: left !important;
}

.leftist p{
    line-height: 5vh;
}

.cardy{
    background-color: var(--lightglass);
    border-radius: var(--corner-rad);
    display: grid;
    justify-content: center;
    width: 90vw;
}

.cardy h1{
    font-size: 5vh;
    margin-bottom: 0px;
}

.quoty{
    display: grid;
    justify-content: center;
    height: 10vh;
    margin-bottom: 3vh;
}

.quoty h1{
    font-size: 7vw;
}

.bussy input[type=text], select, textarea {
    width: 80vw;
    padding: 12px;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1vh; 
    margin-bottom: 2vh; 
    resize: vertical;
  }

  .bussy input[type=text], select, textarea p{
    color: white;
    font-family: "Sarabun", "sans-serif";
  }

  .bussy input[type=submit] {
    width: 20vw;
    background: linear-gradient(125deg, rgba(0, 22, 255, 1) 0%, rgba(255, 1, 245, 1) 100%);
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 40px;
    border: 0px;
    color: white;
    font-weight: 400;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 3%;
    font-family: "Sarabun", "sans-serif";
  }

  .yoyo{
    display: grid;
}