@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Sarabun:wght@100;400&display=swap');

/* -------------------------------------------------------------------------- */
/*                               GLOBAL SETTINGS                              */
/* -------------------------------------------------------------------------- */

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: clip;
    background-color: black;
    color: white;
    font-family: 'Sarabun', 'sans-serif';
}

.desktop {
    display: none;
}

:root {
    --blueprple: #2301a9
}

h1 {
    font-family: "Orbitron", "sans-serif";
}

